li {
  padding: 30px;
  width: 100px;
  height: 100px;
  border-radius: 30px;
  margin: 30px auto;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

ul {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

input {
  min-width: 20rem;
  padding: 1.0rem;
  margin: 20px 0;
  border-radius: 0.5rem;
  text-align: center;
}

main {
  text-align: center;
}